#video {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

#img-sport-left {
    position: absolute;
    right: 1171px;
    /* height: 800px; */
    filter: blur(8px);
}

#img-sport-right {
    position: absolute;
    left: 1171px;
    /* height: 800px; */
    filter: blur(5px);
}


/* #more-menu {
    max-height: 500px;
    border: 1px solid #ccc;
    overflow: auto;
} */

.category-menu {
    height: 200px;
    max-height: 200px;
    border: 1px solid #000;
    overflow: auto;
}

.category-menu .child {
    border: 1px solid #000;
    padding: 5px 5px 5px 5px;
}


/* #more-menu li:hover {
    background-color: #000 !important;
}

#more-menu a:hover {
    color: #fff !important;
} */

.category-menu a {
    color: #000 !important;
}

.category-menu .active {
    background-color: #000 !important;
}

.category-menu .active>a {
    color: #fff !important;
}

.category-menu .hover {
    background-color: #000 !important;
}

.category-menu .hover>a {
    color: #fff !important;
}

.progress-bar-striped {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar-striped>div {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 3s ease;
    -moz-transition: width 3s ease;
    -o-transition: width 3s ease;
    transition: width 3s ease;
    animation: progress-bar-stripes 2s linear infinite;
    background-color: #288ade;
}

.progress-bar-striped p {
    margin: 0;
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}

.select2-results li {
    color: #000000;
}

.table-condensed {
    color: #000;
}

.date-highlighted {
    color: #fff;
    font-weight: bold;
    background-color: green;
    border-radius: 100% !important;
    transition: 0.3s ease;
}

.date-highlighted:hover {
    color: #000 !important;
}

.status-bar {
    color: blue;
}

option:disabled {
    text-decoration: line-through;
}

.magic-box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: relative;
    border-radius: 20px;
}

.magic-image {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}